<div class="masterlist-container">
  <!-- Sidebar with Logo -->
  <div class="sidebar">
    <div class="logo-container">
      <img [src]="'assets/logo.jpg'" alt="Student Registration Logo" class="logo">
    </div>
    <ul>
      <li><a (click)="Dashboard()">Dashboard</a></li>
      <li><a (click)="onEnroll()">Enrollment</a></li>
      <li><a (click)="onMaster($event)">Student Master List</a></li>
      <li><a (click)="onCourse()">Course Master List</a></li>
    </ul>

    <div class="logout-container">
      <button class="logout-btn" (click)="onLogout()">Log Out</button>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <h1>📚 Student Master List</h1>
    <p>Manage all Student.</p>

    <div class="table-container">
      <div class="table-scroll">
        <table class="course-table">
          <thead>
            <tr>
              <th>Student Code</th>
              <th>Name</th>
              <th>Birthdate</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Address</th>
              <th>Contact Numbers</th>
              <th>Guardian Name</th>
              <th>Address</th>
              <th>Contact Numbers</th>
              <th>Course Name</th>
              <th>Course Code</th>
              <th>Status</th>
              <th>Certificates</th>
              <th>Hobby</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SC25-0001</td>
              <td>Neovern Enricoso Ando</td>
              <td>2001-12-29</td>
              <td>23</td>
              <td>Male</td>
              <td>Cawayan</td>
              <td>09343434</td>
              <td>Many pakyaw</td>
              <td>Cawayan</td>
              <td>09343434</td>
              <td>Bachelor of Science in Information Technology</td>
              <td>IT101</td>
              <td>Enrolled</td>
              <td>NULL</td>
              <td>Boxing</td>
            </tr>
            <tr>
              <td>SC25-0001</td>
              <td>Neovern Enricoso Ando</td>
              <td>2001-12-29</td>
              <td>23</td>
              <td>Male</td>
              <td>Cawayan</td>
              <td>09343434</td>
              <td>Many pakyaw</td>
              <td>Cawayan</td>
              <td>09343434</td>
              <td>Bachelor of Science in Information Technology</td>
              <td>IT101</td>
              <td>Enrolled</td>
              <td>NULL</td>
              <td>Boxing</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
